<h1><%= @article.title %></h1>
<span class="glyphicon glyphicon-calendar"></span> <%= @article.created_at.strftime("%b %d, %Y") %> -
    <% if @article.user %>
      <strong>Created by:</strong> <%= @article.user.email %><br />
    <% end %>
<p><%= simple_format(@article.body) %></p>

<% if user_signed_in? && current_user == @article.user %>
  <p>
  <%= link_to "Edit Article", edit_article_path(@article), class: "btn btn-warning" %>
  <%= link_to "Delete Article", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </p>
<% end %>

<div class='col-md-12'>
  <%= form_for [@article, @comment ], :html => {class: "form-horizontal", role: "form"} do |f| %>
    <% if @comment.errors.any? %>
      <div class="panel panel-danger col-md-offset-1">
        <div class="panel-heading">
          <h2 class="panel-title">
            <%= pluralize(@comment.errors.count, "error") %> prohibited this article from being saved:
          </h2>

          <div class="panel-body">
            <ul>
              <% @comment.errors.full_messages.each do |msg| %>
                <li>
                  <%= msg %>
                </li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    <% end %>

    <div class='form-group'>
        <%= f.label :body, 'New Comment' %>
        <%= f.text_area :body, rows: 5, class: 'form-control' %>
    </div>

    <div class='form-group'>
      <div class='col-md-offset-2 col-md-10'>
        <%= f.submit "Add Comment", class: 'btn btn-primary pull-right' %>
      </div>
    </div>

  <% end %>
</div>


<div class="col-md-12">
    <% if @article.comments.blank? %>
        <h3>No comments yet. Be the first to write one!</h3>
    <% else %>
        <h3>Comments</h3>
        <table class="table">
          <thead>
              <tr>
                  <th class="col-md-3"></th>
                  <th class="col-md-9"></th>
              </tr>
          </thead>
          <tbody>
            <% @article.comments.persisted.each do |comment| %>
              <tr>
                <td>
                  <h4>
                    By <%= comment.user.email %>
                  </h4>
                  <p><%= comment.created_at.strftime("%-m/%-d/%y") %></p>
                </td>

                <td>
                  <p><%= h(comment.body).gsub(/\n/, '<br/>').html_safe %></p>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
    <% end %>
</div>
