<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
       <div class="header clearfix">
         <nav>
           <ul class="nav nav-pills pull-right">
             <li role="presentation" class="active"><a href="#">Home</a></li>
             <li role="presentation"><a href="#">Sign Up</a></li>
             <li role="presentation"><a href="#">Sign In</a></li>
           </ul>
         </nav>
         <a href="/"><h3 class="text-muted">Simple Blog</h3></a>
       </div>

       <% flash.each do |name, msg|%>
            <% if msg.is_a?(String) %>
                <div class="alert alert-<%= name == "notice" ? "success" : "danger" %> alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                </div>
            <% end %>
        <% end %>

       <div class="jumbotron">
         <h1>Jumbotron heading</h1>
         <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
         <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
       </div>

       <div class="row marketing">
         <div class="col-lg-8">
           <%= yield %>
         </div>

         <div class="col-lg-4">

         </div>
       </div>

       <footer class="footer">
         <p>&copy; Hello, footer!</p>
       </footer>

     </div>


</body>
</html>
