<!DOCTYPE html>
<html>
<head>
  <title>Simple Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
       <div class="header clearfix">
         <nav>
           <ul class="nav nav-pills pull-right">
             <li role="presentation" class="active"><a href="#">Home</a></li>
             <li role="presentation"><a href="#">Sign Up</a></li>
             <li role="presentation"><a href="#">Sign In</a></li>
           </ul>
         </nav>
         <a href="/"><h3 class="text-muted">Simple Blog</h3></a>
       </div>

       <% flash.each do |name, msg|%>
            <% if msg.is_a?(String) %>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %>
                </div>
            <% end %>
        <% end %>

       <div class="row">
         <div class="col-lg-8">
           <p><%= yield %></p>
         </div>

         <div class="col-lg-4">

         </div>
       </div>

     </div>

            <footer class="footer text-center">
              <p>&copy; Hello, footer!</p>
            </footer>


</body>
</html>
